<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>microProfile-3.3</feature>
        <feature>mpReactiveMessaging-1.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="kafka-producer"/>

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <webApplication location="kafka-topic-producer.war" contextRoot="${app.context.root}">
        <appProperties>
            <property name="mp.messaging.connector.liberty-kafka.bootstrap.servers" value="${kafka.host}"/>
            <property name="mp.messaging.outgoing.message.topic" value="${kafka.topic}"/>
            <property name="mp.messaging.outgoing.message.client.id" value="${kafka.client_id}"/>
        </appProperties>
    </webApplication>

    <mpMetrics authentication="false"/>
</server>
